body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#logo-title{
  font-family: 'Akronim';font-size: 40px;
  color:rgb(134, 29, 29);
  margin: 0;

}
.options{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.options{
  object-fit: 'cover';
  border-radius: 55;
  height: 100%;

}
@import url('https://fonts.googleapis.com/css?family=Candal');
.type{
  font-family: 'Candal';
  font-size: 2.5vw;
  color: white;
  -webkit-text-decoration: peru wavy overline;
  text-decoration: peru wavy overline;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
}