body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: capitalize;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#logo-title{
  font-family: 'Akronim';font-size: 40px;
  color:rgb(134, 29, 29);
  margin: 0;

}


.options{
  border-radius: 55;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    transform: scale(1);

}
.card{
overflow: hidden;}
.card:hover .options{
  transform: scale(1.1);
  transition: 0.8s all ease-out;
  overflow: hidden;



}
@import url('https://fonts.googleapis.com/css?family=Candal');
.type{
  font-family: 'Candal';
  /* font-family: 'Aladin'; */

  font-size: 2.5vw;
  color: white;
  -webkit-text-decoration: peru wavy overline;
  text-decoration: peru wavy overline;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
.title-food{
  font-family: 'Calligraffitti';
  font-weight: bold;
  /* font-size: 13%; */
  text-decoration:  overline;

}
.skull{
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;

}
@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}
.men{
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  background-color: #D4AE8A;
  width: 100%;
  height: auto;
  /* position: absolute; top: 0; left: 0; */

  
}
.menu{
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  background-color:#C26B36;
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius:63% 37% 53% 47% / 34% 41% 59% 66%  ;
  /* height: 50%; */
  /* overflow: scroll; */
  

}

.option-img{
  float: left;
  width:  100%;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

.d-block {
  width:900px;
  height:500px;
  margin: auto;
  object-fit: cover;
}

.footer {
background-color: #282D33;
color: white;
text-align: center;
padding: 5%;
 
}

@import url('https://fonts.googleapis.com/css?family=Actor');
@import url('https://fonts.googleapis.com/css?family=Aladin');
.about-p{
  font-family: 'Actor';
}
.menu-title{

  font-family: 'Aladin';
  font-weight: bold;
  /* text-shadow: 2px 2px 4px #993e3e; */
  text-shadow: 1px 1px 3px #8a3131;


}
.menu-title.second{
  /* -webkit-text-decoration: rgb(134, 29, 29) double underline;
  text-decoration: rgb(134, 29, 29) double underline; */
  /* font-family: 'Aladin';
  font-weight: bold; */
  text-shadow: 2px 2px 4px #8a3131;


} 
.contact{
  /* width:40%; */
  margin: auto;
  padding: 10px;
}

 .footer a{
    text-decoration: none;
    color: white;

}
hr.div{
  border-top: 8px solid rgb(194, 35, 35);
  border-radius: 5px;
}
.food-p{
  color: white;
  font-weight: bold;

}
.jumbo{
  background-color: #EAECEF;
  border-radius: 10%;
  padding: 10%;
  width: 100%;
  height: auto;
}
.contact-logo{
  position: relative;
}
@media(max-width : 375px){
  .menu{
    border-radius: 73% 74% 70% 80% / 7% 15% 21% 23% ;
  }
  .option-img{
    width:  80%;
    height: 200px;
  }
}
@media(max-width : 768px){
  .menu{
    width:100%;
  }
  .option-img{
    width:  80%;
    height: 200px;
  }
}
@media(max-width : 964px){
  .menu{
    width:100%;
  }

}